@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;700&display=swap');

* {
  font-family: 'Nunito Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 2000px;
}

header {
  display: flex;
  align-items: center;
  padding: 20px 50px;
  justify-content: space-between;
}

header h1.logo {
  font-weight: 700;
}

header h1.logo a {
  color: #000;
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

header ul li a {
  text-decoration: none;
}

main .cardContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 20px 50px;
  grid-gap: 20px;
}

main .card {
  min-height: 100px;
  width: 100%;
  background-color: #aaaaaa30;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  height: 100%;
  flex-direction: column;
}

main .card p {
  flex-grow: 1;
}

main .card button {
  background-color: #6666ff;
  padding: 5px 15px;
  color: #fff;
  font-weight: bold;
  border: none;
  cursor: pointer;
  margin: 0 0 0 auto;
  margin-top: 10px;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px;
}

footer a {
  background-color: #222;
  color: #fff;
  padding: 5px 10px;
  border-radius: 10px;
}