main {
  max-width: 900px;
  margin: 30px auto;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

main > div:first-child {
  width: 50% !important;
}

main .card {
  width: 100%;
  background-color: #aaaaaa30;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  /* height: 100%; */
  margin-bottom: 10px;
  flex-direction: column;
}

main form {
  display: flex;
  flex-direction: column;
}

form input {
  display: inline-block;
  margin-right: auto;
  width: 300px !important;
  line-height: 30px;
  padding: 0 10px;
}

form label:last-of-type {
  margin-top: 20px;
}

form textarea {
  padding: 10px;
}

form button {
  margin-left: auto;
  padding: 5px 40px;
  background-color: #6666ff;
  border: none;
  color: #fff;
  margin-top: 20px;
}

#answers {
  width: 50%;
}

#answers > h3 {
  line-height: 40px;
}

@media (max-width: 450px) {
  main {
    margin: 10px;
    flex-direction: column;
  }

  main div:first-child,
  main div {
    width: 100% !important;
  }
}
