main {
  max-width: 600px;
  margin: 20px auto;
}

body.dark #reset{
  color: #000 !important;
}

#themeBtn {
  border: 1px solid red;
}

.card {
  width: 100%;
  background-color: #aaaaaa30;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
}

main ul {
  list-style-type: none;
}

main ul li {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  align-items: center;
  height: 40px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #0000ee;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0000ee;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 450px) {
  main {
    margin: 20px;
  }
}
